@import "tailwindcss";

@theme {
  --color-bg: #132426;
  --color-background: #faf0e6;
  --color-elements: #08401B;
  --color-elements2: #0A5926;
  --color-elements3: #03A64A;
  --color-elements4: #132426;
}

body {
  background-color: #ffffff;
}
